.cart {
    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        & button {
            padding: 8px;
            max-width: 300px;
            font-size: 16px;
            cursor: pointer;
            background-color: gray;
            opacity: 0.8;
            border: none;
            outline: none;
            border-radius: 3px;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__header {
        margin: 120px auto 20px auto;
        opacity: 0.8;
        font-size: 15px;
    }
    &__center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 1000px;
    }
    &__items {
        background-color: lightgray;
        border-radius: 4px;
        padding: 4px 10px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        &-img img {
            width: 60px;
            height: 60px;
        }
        &-img {
            height: 60px;
        }
        &-title {
            font-size: 18px;
            font-weight: 500;
        }
        &-price {
            color: tomato;
            font-size: 20px;
            font-weight: 600;
        }
        &-qt {
            &-value {
                background-color: whitesmoke;
                max-width: 20px;
                text-align: center;
                margin: auto 0;
                padding: 4px 10px 6px 10px;
            }
            & button {
                cursor: pointer;
                border: none;
                outline: none;
                padding: 6px 10px;
            }
        }
        &-remove {
            color: gray;
            cursor: pointer;
            font-size: 20px;
        }
    }
    &__payment {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__prices {
        &-title {
            margin-bottom: 0;
            font-size: 20px;
            text-align: center;
            font-weight: 600;
        }
        &-items {
            list-style: none;
            padding: 0;
        }
        &-item {
            padding: 10px 0;
            border-bottom: 1px solid lightgray;
        }
        &-value {
            font-weight: 550;
        }
        &-des {
            margin-bottom: 10px;
        }
        &-process {
            margin-top: 20px;
            font-size: 18px;
            padding: 10px;
            background-color: tomato;
            opacity: 0.8;
            outline: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
    i {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
}
