@import "../../assets/scss/variable";
.footer {
    background-color: $color;
    position: relative;
    bottom: 0;
    &__nav {
        max-width: 1200px;
        margin: 0 auto;
        h4 {
            color: white;
            font-weight: 700;
        }
        .footer__info-list {
            list-style: none;
            margin: 0;
            padding: 0;
            color: white;
            line-height: 1.8;
            font-size: 15px;
        }
        .footer_info-item {
            display: flex;
            align-items: center;
        }
        .footer_info-tittle:hover {
            cursor: pointer;
            color: tomato;
        }
        .footer_info-item.marginTop {
            margin-top: 10px;
            color: #3a589d;
            cursor: pointer;
        }
        .footer_info-link {
            cursor: pointer;
        }
        .footer_info-tittle-end {
            color: white;
            border-top: 1px solid tomato;
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }
    }
}
