.news {
    margin: 30px 0 0 0;
    &__search {
        margin-left: 70px;
        border: 1px solid lightgray;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: left;
        &-input {
            outline: none;
            border: none;
            padding: 6px;
            font-weight: 350;
            font-size: 15px;
            border-radius: 4px 0 0 4px;
        }
        &-btn {
            color: transparent;
            outline: none;
            border: none;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__title {
        margin-top: 20px;
        font-size: 30px;
        font-weight: 500;
        opacity: 0.9;
        text-align: center;
    }
    &__list {
        position: relative;
        box-shadow: 3px 3px lightgray;
        cursor: pointer;
        width: 280px;
        height: 290px;
        text-align: center;
        &-img {
            width: 280px;
            height: 153px;
        }
        &::after {
            content: "7/7";
            position: absolute;
            line-height: 40px;
            left: 15%;
            top: 5%;
            width: 40px;
            height: 40px;
            background-color: lightgray;
            border-radius: 50%;
            font-weight: 700;
            font-size: 20px;
        }
        &-info {
            margin: 0 auto;
            width: 280px;
        }
        &-title {
            text-align: left;
            display: -webkit-box;
            font-size: 15px;
            font-weight: 700;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &-des {
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            font-size: 15px;
            opacity: 0.8;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
